#Data structure Theory questions

#1. What are data structures, and why are they important?

->A data structure is a way of organizing, storing, and managing data so it can be used efficiently.

Data structures are important because they make programs run faster, handle more data, and solve complex problems effectively.

#2. Explain the difference between mutable and immutable data types with examples.

->1. Mutable Data Types
Objects whose content (value) can be changed after they are created.

Examples :
List → You can add, remove, or change elements.
Dictionary → You can change values for keys or add/remove key-value pairs.
Set → You can add or remove elements.

2.Immutable Data Types
Definition: Objects whose content (value cannot be changed) once created.

Examples:
String,Tuple,Integer, Float, Boolean

#3. What are the main differences between lists and tuples in Python?

-> List → Mutable → You can change, add, or remove elements after creation.

   Tuple → Immutable → Once created, you cannot modify its elements.

#4. Describe how dictionaries store data?

-> Dictionaries store data as key–value pairs using a hash table.

#5. Why might you use a set instead of a list in Python?

->Set automatically removes duplicate values.
  List can have duplicates.

  .Use a List when you need ordered, indexed, or duplicate elements.
   Use a Set when you need uniqueness and fast lookups.

#6. What is a string in Python, and how is it different from a list?

-> A string is a sequence of characters enclosed in single quotes (''), double quotes (""), or triple quotes (''' ''' / """ """).

#7. How do tuples ensure data integrity in Python?

-> Tuples ensure data integrity in Python because they are immutable, hashable, and provide a safe, unchangeable container for related values.

#8. What is a hash table, A hash table = data structure that stores key–value pairs using hashing.

-> A hash table is data structure that stores key–value pairs using hashing.

A Python dictionary is built on top of a hash table, which is why dictionary operations are very fast and efficient.

#9. Can lists contain different data types in Python?

->In Python, lists can contain elements of different data types. This is because Python is a dynamically typed language, and lists are flexible containers.

#10. Explain why strings are immutable in Python?

->Python often reuses string objects with the same value to save memory (a process called string interning).

If strings were mutable, changing one string could accidentally change all references to it.

#11. What advantages do dictionaries offer over lists for certain tasks?

-> Dictionary: Directly accesses values using a key (via hashing).

List: To find a value, you often need to search element by element.*italicized text*

#12. Describe a scenario where using a tuple would be preferable over a list?

-> A tuple is preferable when the data should not change, like storing coordinates (latitude, longitude) or using data as a dictionary key, since tuples are immutable and hashable. ✅

#13.  How do sets handle duplicate values in Python?

-> Sets ignore duplicates and always store unique elements only.

#14. How does the “in” keyword work differently for lists and dictionaries?

-> For Lists -
Checks if a value/element is present in the list.

   .For Dictionaries -
By default, in checks only the keys, not the values.

#15. Can you modify the elements of a tuple? Explain why or why not?

-> cannot modify tuple elements because tuples are immutable by design — they protect data from accidental changes and allow safe usage in hash-based structures.

#16. What is a nested dictionary, and give an example of its use case?

-> A nested dictionary is a dictionary within a dictionary, useful for representing complex, structured data like student or employee records.

#17. Describe the time complexity of accessing elements in a dictionary?

-> Accessing elements in a dictionary is O(1) on average (very fast due to hashing) and O(n) in the worst case (rare, due to hash collisions).

#18. In what situations are lists preferred over dictionaries?

-> Lists are preferred over dictionaries when:

Order Matters ,
Sequential Access ,
Simple Collections,
Duplicates Allowed ,
Memory Efficiency .

#19. Why are dictionaries considered unordered, and how does that affect data retrieval?

-> Dictionaries are considered unordered because their internal storage depends on key hashes, not positions.

You must access values by key.

This allows fast lookups but means position-based access isn’t reliable.

#20. Explain the difference between a list and a dictionary in terms of data retrieval?

-> Lists → Access by position, slower for searching by value.

  Dictionaries → Access by key, much faster for lookups, but rely on key, not position.

#PRACTICAL QUESTIONS

#1. Write a code to create a string with your name and print it.

In [ ]:
my_name = "Mohona Pal"
print(my_name)

Mohona Pal

#2. Write a code to find the length of the string "Hello World".

In [ ]:
# String
text = "Hello World"
length = len(text)
print("Length of the string:", length)

Length of the string: 11

#3. Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
text = "Python Programming"
first_three = text[:3]
print(first_three)

Pyt

#4. Write a code to convert the string "hello" to uppercase

In [ ]:
text= "hello"
upper_text= text.upper()
print (upper_text)

HELLO

#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
text= "apple"
new_text = text.replace ("apple", "orange")
print (new_text)

orange

#6. Write a code to create a list with numbers 1 to 5 and print it

In [ ]:
list =[1,2,3,4,5]
print (list)

[1, 2, 3, 4, 5]

#7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:

numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
numbers =[1,2,3,4,5]
numbers.remove(3)
print (numbers)

[1, 2, 4, 5]

#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
letters = ['a', 'b', 'c', 'd']
second_elements = letters[1]
print(second_elements)

b

#10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
numbers =[10,20,30,40,50]
numbers.reverse()
print (numbers)

[50, 40, 30, 20, 10]

#11. Write a code to create a tuple with the elements 100, 200, 300 and print it

In [ ]:
my_touple=(100,200,300)
print(my_touple)

(100, 200, 300)

#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
colors=('red','green','blue,yellow')
second_last= colors[-2]
print (second_last)

green

#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
numbers = (10,20,5,15)
min_num=min(numbers)
print(min_num)

5

#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
animals= ('dog','cat', 'rabbit')
index_cat = animals.index("cat")
print (index_cat)

1

#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:

fruits = ("apple", "banana", "orange")
if "kiwi" in fruits:
    print("Kiwi is in the tuple")
else:
    print("Kiwi is not in the tuple")

Kiwi is not in the tuple

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
my_set= {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
numbers = {1,2,3,4,5}
numbers.clear()
print(numbers)

set()

#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
numbers ={1,2,3,4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set1 ={1,2,3}
set2 = {3,4,5}
union_set = set1.union(set2)
print (union_set)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1 ={1,2,3}
set2 ={2,3,4}
intersection_set=set1.intersection(set2)
print(intersection_set)

{2, 3}

#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
person = {
    "name": "Bruno",
    "age": 4,
    "city": "INDIA"
}
print(person)

{'name': 'Bruno', 'age': 4, 'city': 'INDIA'}

#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
person ={'name':'Bob', 'age':22,'city':'New york'}
person.pop ("age")
print (person)

{'name': 'Bob', 'city': 'New york'}

#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:

person = {'name': 'Alice', 'city': 'Paris'}
if "city" in person:
    print("Key 'city' exists in the dictionary")
else:
    print("Key 'city' does not exist in the dictionary")

Key 'city' exists in the dictionary

#26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:

my_list = [1, 2, 3, 4, 5]

my_tuple = ("mimi", "bruno", "angshu")

my_dict = {"name": "bruno", "age": 5, "city": "kolkata"}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('mimi', 'bruno', 'angshu')
Dictionary: {'name': 'bruno', 'age': 5, 'city': 'kolkata'}

#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

In [ ]:
import random

# Create a list of 5 random numbers between 1 and 100
numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
numbers.sort()

# Print result
print("Sorted random numbers:", numbers)

Sorted random numbers: [7, 35, 55, 85, 86]

#28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
list = ["rice", "apple", "chicken", "fish", "potato"]
print (list[3])

fish

#29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 ={"a": 2, "b": 1}
dict2 ={"c": 4, "d" :6}
combined = {**dict1, **dict2}
print (combined)

{'a': 2, 'b': 1, 'c': 4, 'd': 6}

#30. Write a code to convert a list of strings into a set.

In [ ]:
fruits = ["apple", "banana", "cherry", "apple"]
fruit_set = set(fruits)
print(fruit_set)

{'cherry', 'banana', 'apple'}